/* .floatingButton {
  position: fixed;
  top: 40%;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #81aa7db0; 
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 110;
  cursor: pointer;
} */

.cardMenu {
  position: fixed;
  top: 40%;
  right: 0;
  background-color: #fff;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  border-radius: 8px;
  z-index: 160;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cardItem {
  background-color: #b4cab2a8; 
  margin-bottom: 3px;
  padding-left: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 1px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0.5rem;
  line-height: 0.125rem;
  text-align: center;
}

.cardItem:hover {
  background-color: #5a6ddb;
}

.outerContainer {
  position: absolute;
  top: 16%;
  right: 4%;
  z-index: 160;
}

.stickyButtonWrapper {
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 110;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* .stickyButtonSquare {
  width: 30px;
  height: 30px;
  background-color: #9ef793bd;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
} */

.stickyButtonLabelVertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 13px;
  color: #333;
  background-color: white;
  padding: 6px 4px;
  border-radius: 6px;
  margin-top: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1px;
}

.verticalText {
  writing-mode: vertical-rl;
  text-align: center;
}

.horizontalText {
  writing-mode: horizontal-tb;
  text-align: center;
}


